{% extends "demoapp/base.html" %}

{% block sidebar %}
    <div>
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
    </div>

    <div>
        <p>paragraph</p>
        <pre>pre</pre>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <ol>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ol>
    </div>

    <div>
        <form>
            <p><input type="text" placeholder="type text"/></p>
            <p><input type="password" placeholder="password"/></p>
            <p><input type="button" value="button"/></p>
        </form>
    </div>
{% endblock %}